<section class="step2__con">
  <div class="title-con">
    <h2 class="step1__title">Select your plan</h2>
    <span>You have the option of monthly or yearly billing</span>
  </div>

  <div class="select-con">
    <div
      class="plan-con"
      (click)="addPlan(plan.id)"
      *ngFor="let plan of plans"
      [ngClass]="{ 'active-plan': currentPlan === plan.id }"
    >
      <img class="icon-plan" [src]="plan.url" />
      <div id="plan1" class="step2__text-con">
        <span class="plan-title">{{ plan.planType }}</span>
        <span class="plan-price" *ngIf="!this.yearly"
          >${{ plan.pricingMonthly }}/mo</span
        >
        <span class="plan-price" *ngIf="this.yearly"
          >${{ plan.pricingYearly }}/yearly</span
        >
        <span class="plan-price free" *ngIf="this.yearly">2 months free</span>
      </div>
    </div>
  </div>
  <div class="subscription-type">
    <span
      class="subscription-text"
      [ngClass]="{ 'active-subscription': !this.yearly }"
      >Monthly</span
    >
    <label class="switch">
      <input (click)="setSubscriptionType()" type="checkbox" />
      <span class="slider round"></span>
    </label>
    <span
      [ngClass]="{ 'active-subscription': this.yearly }"
      class="subscription-text"
      >Yearly</span
    >
  </div>
  <div class="btns">
    <button (click)="goBack()" class="back-btn">Go back</button>
    <button (click)="onSubmit()" class="next-btn">Next Step</button>
  </div>
</section>
