section {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap: 20px;
    margin-top: 20px;
}

h2 {
    padding: 0;
    margin-bottom: 0;
}

.title-con {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
        color: var(--Coolgray);
    }
}
.select-con {
    display: flex;
    gap: 15px;
}

.plan-con {
    display: flex;
    border: 2px solid var(--Lightgray);
    padding: 15px;
    min-height: 130px;
    border-radius: 12px;
    margin-top: 20px;
    width: 86px;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.plan-con:hover {
    border: 2px solid var(--purplishblue);
}

.icon-plan {
    width: 35px;
}

.step2__text-con {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.plan-title {
    font-weight: bold;
}

.plan-price {
    font-size: 11px;
    color: var(--Coolgray);
}

.hidden {
    display: none;
}

.subscription-type {
    background-color: var(--Magnolia);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 5px;
    height: 27px;
}

.subscription-text {
    font-size: 15px;
    color: var(--Lightgray);
}

.free {
    color: var(--marineblue);
    font-weight: bold;
}
// Slider
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    height: 19px;
    width: 30px;
    bottom: 0;
    background-color: var(--marineblue);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 3px;
    top: 4px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.active-subscription {
    color: var(--marineblue);
}
.inaktiv-subscription {
    color: var(--Lightgray);
}

.active-plan {
    border: 2px solid var(--purplishblue);
    background-color: var(--Magnolia);
}
