<section class="step1__con step2__con" id="step-1">
  <h2 class="step1__title">Select your plan</h2>
  <span>You have the option of monthly or yearly billing</span>
  <div class="select-con">
    <div class="plan-con">
      <img class="icon-plan" src="../assets/images/icon-arcade.svg" />
      <div id="plan1" class="step2__text-con">
        <span class="plan-title">Arcade</span>
        <span class="plan-price" id="price-arcade">$9/mo</span>
      </div>
    </div>

    <div class="plan-con">
      <img class="icon-plan" src="../assets/images/icon-advanced.svg" />
      <div id="plan2" class="step2__text-con">
        <span class="plan-title">Advanced</span>
        <span class="plan-price" id="price-arcade">$12/mo</span>
      </div>
    </div>

    <div class="plan-con">
      <img class="icon-plan" src="../assets/images/icon-pro.svg" />
      <div id="plan3" class="step2__text-con">
        <span class="plan-title">Pro</span>
        <span class="plan-price" id="price-arcade">$15/mo</span>
      </div>
    </div>
  </div>
  <button id="next" class="next-btn">Next Step</button>
</section>
