.input-con {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    gap: 15px;
    margin-top: 20px;
}

.inp h2 {
    margin: 0;
    font-family: ubuntu;
}

.step1__input {
    margin-top: 6px;
    margin-bottom: 16px;
    height: 35px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid var(--Lightgray);
}

h2 {
    padding: 0;
    margin-bottom: 0;
}
.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

.title__con {
    display: flex;
    justify-content: space-between;
}

.error__message {
    color: var(--strawberryred);
    font-size: 14px;
}

.invalid {
    border: 1px solid red; /* Change the border style when invalid */
}

.active {
    border: 1px solid var(--purplishblue);
}
