<section>
  <h2>Personal info</h2>
  <span>Please provide your name, email address, and phone number.</span>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="input-con">
      <div class="title__con">
        <label for="name">Name</label>
        <span
          class="error__message"
          *ngIf="
            contactForm.controls['name'].invalid &&
            (contactForm.controls['name'].dirty ||
              contactForm.controls['name'].touched)
          "
        >
          Name is required.
        </span>
      </div>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="step1__input"
        placeholder="e.g. Stephen King"
        (focus)="onClick($event)"
        (blur)="onBlur($event)"
      />
      <div class="title__con">
        <label>Email Address</label>
        <span
          class="error__message"
          *ngIf="
            contactForm.controls['email'].invalid &&
            (contactForm.controls['email'].dirty ||
              contactForm.controls['email'].touched)
          "
          >Email is required</span
        >
      </div>

      <input
        id="email"
        formControlName="email"
        class="step1__input"
        placeholder="e.g. stephenking@lorem.com"
        (focus)="onClick($event)"
        (blur)="onBlur($event)"
      />

      <div class="title__con">
        <label> Phone Number </label>
        <span
          class="error__message"
          *ngIf="
            contactForm.controls['mobile'].invalid &&
            (contactForm.controls['mobile'].dirty ||
              contactForm.controls['mobile'].touched)
          "
          >Phone number is required</span
        >
      </div>
      <input
        class="step1__input"
        id="mobile"
        formControlName="mobile"
        placeholder=" e.g. +1 234 567 890 "
        (focus)="onClick($event)"
        (blur)="onBlur($event)"
      />
    </div>
    <div class="button__con">
      <button type="submit" class="next-btn" [disabled]="!contactForm.valid">
        Next Step
      </button>
    </div>
  </form>
</section>
